    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');
    * {
        padding: 0;
        box-sizing: border-box;
    }
    
    html {
        scroll-behavior: smooth;
    }
    
    body {
        margin: 0;
        font-family: "Montserrat", sans-serif;
    }
    
    button {
        padding: 10px 15px;
        font-weight: bold;
        background: #1d61dd;
        color: white;
        border-radius: 8px;
        border: 0;
        font-family: "Montserrat", sans-serif;
    }
    
    a {
        text-decoration: none;
        color: inherit;
    }
    
    header {
        height: calc(100vh - 150px);
        background: no-repeat center/cover url("assets/header-img.jpg");
    }
    
    header nav {
        display: flex;
        justify-content: space-between;
        margin: auto 30px;
        color: white;
    }
    
    header nav p {
        font-weight: bold;
    }
    
    header nav ul {
        list-style: none;
        /* tirar os pontos da lista */
        display: flex;
    }
    
    header nav ul li {
        margin: 0 15px;
    }
    
    .header-content {
        max-width: 440px;
        margin: 150px auto;
        text-align: center;
        color: white;
    }
    
    .header-content h1 {
        margin-bottom: 10px;
        font-size: 4rem;
    }
    
    .pacotes {
        background: #e1e8f7;
        padding: 15px;
    }
    
    .pacotes .pacotes-cards {
        display: flex;
        margin: auto;
        max-width: 950px;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .pacotes .pacotes-title {
        text-align: center;
        width: 100%;
        margin: 25px 0;
    }
    
    .pacotes .card {
        width: 250px;
        height: 350px;
        background: white;
        border-radius: 24px 0;
        margin: 25px;
        position: relative;
    }
    
    .pacotes .card-image {
        width: 250px;
        height: 200px;
        border-radius: 24px 0 0 0;
    }
    
    .pacotes .card-info {
        padding: 0 15px;
    }
    
    .pacotes .card-info ul {
        display: flex;
        flex-direction: column;
        list-style: none;
        padding: 0;
    }
    
    .pacotes .card-info ul li {
        font-size: 0.6rem;
        display: flex;
        align-items: center;
        margin: 3px 0;
        color: grey;
        font-weight: bold;
    }
    
    .pacotes .card .card-info li svg {
        width: 16px;
        height: 16px;
        margin-right: 10px;
        padding: 0;
    }
    
    .pacotes .card-info h1 {
        font-size: 1rem;
    }
    
    .pacotes .card .card-tag-top {
        position: absolute;
        right: 0;
        background: #f18939;
        border-radius: 8px 0 0 8px;
        top: 15px;
        padding: 5px 10px;
    }
    
    .pacotes .card .card-tag-bottom {
        position: absolute;
        left: 0;
        background: #1d61dd;
        border-radius: 0 8px 8px 0;
        top: 170px;
        padding: 5px 10px;
    }
    
    .pacotes .card .card-tag p {
        margin: 0;
        font-size: .8rem;
        color: white;
        font-weight: bold;
    }
    
    .servicos {
        padding: 15px;
    }
    
    .servicos .servicos-title {
        text-align: center;
        margin: 35px 0;
    }
    
    .servicos .servicos-cards {
        display: flex;
        justify-content: center;
        max-width: 950px;
        margin: 25px auto;
        flex-wrap: wrap;
    }
    
    .servicos .servicos-cards .card {
        width: 250px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 20px;
    }
    
    .servicos .card svg {
        width: 60px;
        height: 60px;
        margin: 50px;
        transition: all 1s;
    }
    
    .servicos .card svg:hover {
        stroke: #1d61dd;
        /* cor para mudar ao passar o mouse */
        transform: scale(1.1);
        /* aumentar o tamanho do svg*/
    }
    
    .servicos .card h3 {
        font-weight: bold;
    }
    
    .servicos .card p {
        color: gray;
        font-size: .8rem;
        margin: 20px;
    }
    
    .servicos .title-cards {
        height: 180px;
        text-align: center;
    }
    
    .servicos .title-cards button {
        background: #1d61dd;
    }
    
    #map {
        height: 400px;
        /* The height is 400 pixels */
        width: 100%;
        /* The width is the width of the web page */
    }
    
    .contato {
        padding: 60px;
        background: #e1e8f7;
        position: relative;
    }
    
    .contato .contato-card {
        width: 350px;
        height: 300px;
        background: white;
        position: absolute;
        z-index: 99;
        /**/
        top: calc(50% - 150px);
        left: calc(20% - 175px);
        /**/
        border-radius: 8px;
        /**/
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 20px;
        box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 28);
    }
    
    .contato .contato-card h1 {
        padding-left: 10px;
        text-align: left;
    }
    
    .contato .contato-card ul {
        list-style: none;
    }
    
    .contato .contato-card li {
        font-size: .8rem;
        font-weight: bold;
        color: gray;
        display: flex;
        align-items: center;
    }
    
    .contato .contato-card li svg {
        width: 16px;
        margin: 10px;
    }
    /* RESPONSIVIDADE */
    
    @media (max-width: 950px) {
        .contato {
            padding: 60px 0;
        }
        .contato .contato-card {
            left: 40px;
        }
    }
    
    @media (max-width: 800px) {
        .contato {
            padding: 20px 0;
        }
        .contato .contato-card {
            position: static;
            margin: 40px auto;
        }
    }
    
    @media (max-width: 480px) {
        body {
            margin-bottom: 55px;
            /*height: calc(100vh - 55px ); /* a tela visivel - tamanho do nav */
        }
        header nav ul {
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
            margin: 0;
            padding: 0;
            z-index: 99;
            /* relevancia */
            background: #1d61dd;
            height: 55px;
            color: white;
            font-weight: bold;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        header nav p {
            width: 100%;
            text-align: center;
        }
    }